:root {
  --green60: #caff33;
  --green65: #d1ff4d;
  --green70: #d8ff66;
  --darkGreen70: #d9ff6670;
  --green80: #e5ff99;
  --green90: #f2ffcc;
  --green95: #f8ffe5;
  --green97: #fbfff0;
  --green99: #fefffa;

  --white90: #e4e4e7;
  --white95: #f1f1f3;
  --white97: #f7f7f8;
  --white99: #fcfcfd;

  --gray10: #1a1a1a;
  --gray11: #1c1c1c;
  --gray15: #262626;
  --gray20: #333333;
  --gray30: #4c4c4d;
  --gray35: #59595a;
  --gray40: #656567;
  --gray60: #98989a;
  --gray70: #b3b3b3;
  --gray75: #bfbfbf;
}

* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden !important;
  width: 100%;
  margin: 0;
  padding: 0;
}

.pageContainer {
  overflow-x: hidden !important;
  max-width: 100vw;
  height: auto !important;
}

img,
video,
iframe {
  max-width: 100%;
  height: auto;
  display: block;
}

.sectionContent,
.sectionCards,
.row,
.card,
.rowImg,
.rowTextContent {
  max-width: 100%;
  overflow: hidden;
}

.pageContainer {
  width: 100%;
  overflow-x: hidden;
}

.aboutMain {
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.aboutMain .mainImg {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100% !important;
}

body[dir="rtl"] .aboutMain .mainImg {
  border: 1px solid red;
}

.aboutMain .mainTextcontent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  height: 100%;
  position: relative;
  top: 0 !important;
}

.aboutMain .mainTextcontent h1 {
  font-size: 2.5rem;
  color: var(--gray75);
}

.aboutMain .mainTextcontent p {
  font-size: 1.1rem;
  color: var(--gray70);
  line-height: 1.6;
}

.missionAndVision {
  margin: 0px auto;
  height: 140vh !important;
}

.sectionContent {
  width: 90%;
  height: 110vh !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto 0 !important;
}

.sectionContent .row {
  display: flex;
  justify-content: center !important;
  align-items: center;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  gap: 0 !important;
}

.row .rowTextContent {
  width: 60% !important;
  box-sizing: border-box;
  padding: 30px;
}

.row .rowTextContent:last-child {
  border-left: 4px solid var(--darkGreen70);
}

.row .rowTextContent:first-child {
  border-right: 4px solid var(--darkGreen70);
}

.rowTextContent h2 {
  color: var(--gray75);
}

.rowTextContent p {
  width: 100%;
  line-height: 150%;
  color: var(--gray70);
}

.row .rowImg {
  height: 400px;
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: end;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: var(--gray15);
}

.row .rowImg img {
  height: 90%;
  width: 85%;
}

.pressReleases .sectionCards {
  flex-wrap: wrap;
  height: 180vh !important;
  gap: 50px !important;
  margin: 0px auto !important;
}

.sectionCards .card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
  height: 49% !important;
  box-sizing: border-box;
  padding: 20px;
  background-color: var(--gray11);
  border: 1px solid var(--gray15) !important;
  border-radius: 20px;
}

.card .cardImg {
  height: 250px;
}

.card .cardImg img {
  width: 100%;
  height: 100%;
  margin: 50px auto 0 !important;
}

.card .cardContent {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cardContent .tags {
  width: fit-content;
  height: auto;
  display: flex;
  gap: 10px;
}

.cardContent .tag {
  box-sizing: border-box;
  padding: 5px 10px;
  font-size: 12px;
  color: var(--gray70);
  border-radius: 20px;
  background-color: var(--gray10);
}

@media (max-width: 2560px) {
  .pageContainer {
    width: 100% !important;
  }

  .aboutMain {
    max-height: none !important;
    min-height: auto !important;
    height: 73.7vh !important;
    overflow-y: visible !important;
    min-width: 100% !important;
  }

  .aboutMain .mainTextcontent {
    top: -30px !important;
    left: 30px;
    min-height: 50%;
    max-width: 50%;
  }

  .aboutMain .mainTextcontent p {
    font-size: 2rem;
  }

  .aboutMain .mainImg img {
    height: 900px !important;
  }

  .missionAndVision {
    height: auto !important;
    margin: 100px auto 0;
  }

  .missionAndVision .sectionHeader h2,
  .pressReleases .sectionHeader h2 {
    font-size: 3rem;
  }

  .sectionHeader p {
    font-size: 2rem;
  }

  .missionAndVision .sectionContent {
    height: auto !important;
    margin: 150px auto !important;
  }

  .row {
    height: auto !important;
  }

  .row .rowImg {
    height: 500px !important;
    width: 600px !important;
    overflow: visible;
  }

  .rowImg img {
    height: 500px !important;
  }

  .rowTextContent h2 {
    font-size: 3rem;
  }

  .rowTextContent p {
    font-size: 2rem;
  }

  .pressReleases {
    margin: 0 auto !important;
  }

  .pressReleases .sectionCards {
    gap: 50px 3% !important;
    height: auto !important;
    margin: 50px auto !important;
  }

  .pressReleases .sectionCards .card {
    width: 42%;
    height: auto !important;
    padding: 30px;
  }

  .pressReleases .sectionCards .card .cardImg {
    height: 400px;
  }

  .card .cardContent .title h3 {
    font-size: 2.2rem;
  }

  .card .cardContent .tag {
    font-size: 1.5rem;
  }

  .card .cardContent .description p {
    font-size: 1.8rem !important;
  }
}

@media (max-width: 1920px) {
  .aboutMain {
    height: 70.5vh !important;
    margin: 50px auto;
  }

  .aboutMain .mainTextcontent {
    top: 0px !important;
    left: 0;
    max-width: 50%;
  }

  .aboutMain .mainTextcontent h1 {
    font-size: 1.5rem !important;
  }

  .aboutMain .mainTextcontent p {
    font-size: 1.1rem !important;
  }

  .aboutMain .mainImg {
    top: 0 !important;
  }

  .aboutMain .mainImg img {
    height: 90% !important;
  }

  .sectionHeader h2 {
    font-size: 2rem !important;
  }

  .sectionHeader p {
    font-size: 1.2rem;
  }

  .row {
    height: auto !important;
  }

  .row .rowImg {
    height: 350px !important;
    width: 400px !important;
    overflow: visible;
  }

  .rowImg img {
    height: 320px !important;
  }

  .rowTextContent h2 {
    font-size: 2rem;
  }

  .rowTextContent p {
    font-size: 1.1rem;
  }

  .pressReleases .sectionCards {
    gap: 20px !important;
  }

  .card {
    width: 45% !important;
    height: auto !important;
    gap: 0 !important;
    padding: 20px !important;
  }

  .card .cardImg,
  .card .cardImg img {
    height: 270px !important;
  }

  .card .cardContent .title h3 {
    font-size: 1.2rem !important;
  }

  .cardContent .tag {
    font-size: 1rem !important;
  }

  .card .cardContent .description p {
    font-size: 1.05rem !important;
  }
}

@media (max-width: 1024px) {
  .aboutMain {
    max-height: 500px !important;
    min-height: none !important;
    padding: 0 !important;
  }

  .aboutMain .mainImg,
  .aboutMain .mainImg img {
    height: 400px !important;
    max-height: 400px;
    margin: 0 !important;
    top: 0 !important;
  }

  .aboutMain .mainTextcontent {
    width: 60% !important;
    left: 20px !important;
  }

  .aboutMain .mainTextcontent h1 {
    font-size: 1.6rem !important;
  }

  .aboutMain .mainTextcontent p {
    font-size: 1rem !important;
  }

  .sectionHeader h2 {
    font-size: 1.7rem !important;
  }

  .missionAndVision .sectionContent {
    margin: 50px auto !important;
  }

  .rowTextContent {
    height: auto !important;
    padding: 10px 20px !important;
  }

  .row .rowTextContent h2 {
    height: auto;
    font-size: 1.5rem;
  }

  .rowTextContent p {
    font-size: 0.95rem;
  }

  .row .rowImg {
    height: 300px !important;
    width: 330px !important;
  }

  .rowImg img {
    height: 270px !important;
  }

  .sectionCards .card {
    width: 48% !important;
  }

  .sectionCards .card .cardImg,
  .sectionCards .card img {
    height: 200px !important;
  }

  .card .cardContent h3 {
    font-size: 0.9rem !important;
  }

  .cardContent .tag {
    font-size: 0.8rem !important;
  }

  .cardContent .description p {
    font-size: 0.78rem !important;
    line-height: 135%;
  }
}

@media (max-width: 770px) {
  .aboutMain {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh !important; /* let it grow naturally */
    gap: 30px;
  }

  .aboutMain .mainImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .aboutMain .mainImg img {
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: block;
  }

  .aboutMain .mainTextcontent {
    min-width: 100% !important;
    left: 0 !important;
    top: 150px !important;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: auto !important;
    max-height: 40vh;
    padding: 0 20px;
    border-radius: 30px;
  }

  .sectionHeader h2 {
    font-size: 1.5rem !important;
  }

  .sectionHeader p {
    font-size: 1.05rem;
  }

  .row {
    margin: 20px auto !important;
  }

  .row h2 {
    font-size: 1.3rem !important;
  }

  .row p {
    line-height: 120%;
    font-size: 0.9rem !important;
  }

  .card .description p {
    font-size: 0.7rem !important;
    line-height: 110%;
  }
}

@media (max-width: 426px) {
  .aboutMain {
    width: 100%;
    height: auto !important;
    min-height: 115vh !important;
    max-height: 121vh !important;
    margin: 50px auto !important;
    position: relative;
    padding: 20px !important;
  }

  .aboutMain .mainTextcontent {
    width: 90% !important;
    margin: 0 !important;
    max-height: 500px !important;
    min-height: 350px !important;
    height: 360px !important;
    position: relative;
    top: 100px !important;
    z-index: 1;
  }

  .aboutMain .mainImg img {
    margin: 0 !important;
    height: inherit !important;
    width: inherit;
    position: absolute;
    top: -70px !important;
    z-index: 1;
    order: 0 !important;
  }

  .mainTextcontent {
    position: relative !important;
    width: 100% !important;
    left: 0 !important;
    top: 0px;
    height: auto !important;
    z-index: 2;
    border-radius: 20px !important;
    order: 1;
  }

  .mainTextcontent h1 {
    font-size: 35px;
    text-align: center;
  }

  .mainTextcontent p {
    width: 100%;
    text-align: center;
  }

  .missionAndVision {
    height: auto !important;
    margin: 50px auto;
  }

  .sectionHeader {
    justify-content: center;
  }

  .sectionHeader p {
    text-align: center !important;
    margin: 0 auto;
  }

  .sectionContent {
    height: auto !important;
    width: 95%;
    gap: 30px;
    margin: 50px auto !important;
  }

  .sectionContent .row {
    flex-direction: column;
    height: auto !important;
    gap: 20px !important;
  }

  .row .rowTextContent {
    width: 100% !important;
    text-align: center;
    padding: 20px;
    border: none !important;
  }

  .row:last-child .rowImg {
    order: 0;
  }

  .row:last-child .rowTextContent {
    order: 1;
  }

  .rowTextContent p {
    font-size: 0.95rem;
    line-height: 1.6;
  }

  .row .rowImg {
    width: 90% !important;
    height: 270px !important;
    border-radius: 16px;
    padding: 20px 0 0;
  }

  .row .rowImg img {
    width: 90%;
    height: 100%;
  }

  .pressReleases .sectionCards {
    height: auto !important;
    gap: 25px !important;
  }

  .pressReleases .card {
    width: 100% !important;
    height: auto !important;
  }

  .pressReleases .card .cardImg {
    width: 100% !important;
  }
}
