:root {
  --green60: #caff33;
  --green65: #d1ff4d;
  --green70: #d8ff66;
  --green80: #e5ff99;
  --green90: #f2ffcc;
  --green95: #f8ffe5;
  --green97: #fbfff0;
  --green99: #fefffa;

  --white90: #e4e4e7;
  --white95: #f1f1f3;
  --white97: #f7f7f8;
  --white99: #fcfcfd;

  --gray10: #1a1a1a;
  --gray11: #1c1c1c;
  --gray15: #262626;
  --gray20: #333333;
  --gray30: #4c4c4d;
  --gray35: #59595a;
  --gray40: #656567;
  --gray60: #98989a;
  --gray70: #b3b3b3;
  --gray75: #bfbfbf;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--gray10);
}

body[dir="rtl"] .navDesktop ul.centerNav {
  flex-direction: row-reverse !important; /* reverse nav links */
}

body[dir="rtl"] .logo h2 {
  margin-left: 0;
  margin-right: 10px;
}

header {
  width: 96% !important;
  margin-top: 0 !important;
  max-height: 100px !important;
  overflow-y: visible !important;
}

body[dir="rtl"] .navDesktop ul.centerNav {
  flex-direction: row-reverse; /* reverse nav links */
}

body[dir="rtl"] .logo h2 {
  margin-left: 0;
  margin-right: 10px;
}

.cornerImg {
  position: absolute;
  top: -25px;
  left: 0;
  width: 450px;
  height: 450px;
  z-index: 0;
}

.cornerImg img {
  width: 100%;
  height: 100% !important;
}

.navDesktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100% !important;
  max-height: 60px !important;
  overflow-y: visible !important;
  position: relative;
  z-index: 1;
  margin: 30px auto 0;
  padding: 20px;
  background-color: var(--gray11);
  border-radius: 40px;
  border: 2px solid var(--gray15);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 1rem !important;
}

.logo img {
  width: 45px;
  height: 45px;
}

.navDesktop ul {
  display: flex;
  list-style: none;
  gap: 15px !important;
  margin: 0;
  padding: 0;
}

.navDesktop a {
  color: white;
  height: 100%;
  width: 100%;
  padding: 8px 12px;
  border-radius: 30px;
  color: white;
  font-size: 1.2rem !important;
  text-decoration: none;
  text-align: center;
}

.navDesktop ul li a:hover {
  transition: background 0.3s ease;
  color: var(--green65);
  background-color: var(--gray20);
}

.rightNav {
  max-height: 50px !important;
  gap: 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightNav .desktopDropdown {
  border: 1px solid red;
}

.desktopDropdown li img {
  border: 2px solid purple;
  max-height: 30px;
  width: 30px;
}
.mobileHeader {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  padding: 20px 0;
}

.navMobileBtn img {
  width: 45px;
  height: 45px;
  background: var(--green60);
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
}

/* MOBILE DROPDOWN MENU (overlay style) */
.navMobile {
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%) translateY(-15px);
  width: 85%;
  background-color: var(--gray11);
  border-radius: 15px;
  border: 2px solid var(--gray15);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  z-index: 999;
}

.navMobile.show {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
  pointer-events: all;
}

.navMobile ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navMobile ul li {
  padding: 12px 0;
  text-align: left;
  padding-left: 20px;
  border-bottom: 1px solid var(--gray30);
}

.navMobile ul li:last-child {
  border: none;
}

.mobileLangsList {
  display: none !important;
}
.navMobile a {
  color: var(--white);
  text-decoration: none;
  font-size: 18px;
}

.navMobile a:hover {
  color: var(--green60);
}

@media (max-width: 2560px) {
  header {
    width: 90%;
    margin: 0 auto;
  }

  header .navDesktop {
    padding: 0 50px;
    height: auto !important;
  }

  header .logo {
    font-size: 1.5rem !important;
  }

  header ul {
    gap: 50px !important;
  }

  .navDesktop ul li a {
    font-size: 2rem !important;
  }
}

@media (max-width: 1920px) {
  header {
    width: 100%;
  }

  header .logo h2 {
    font-size: 1.5rem !important;
  }
  .navDesktop ul li a {
    font-size: 1.2rem !important;
  }
}

@media (max-width: 1440px) {
  .navDesktop ul li a {
    font-size: 1rem !important;
  }
}

@media (max-width: 1025px) {
  .navDesktop {
    height: auto !important;
    padding: 0 25px;
    font-size: 0.8rem;
  }

  header .logo {
    font-size: 1rem;
  }

  header ul {
    gap: 10px !important;
  }

  header ul li a {
    font-size: 0.9rem !important;
  }
}

@media (max-width: 770px) {
  .navDesktop {
    display: none;
  }

  .cornerImg {
    pointer-events: none;
  }

  header {
    padding: 15px 0;
  }

  .mobileHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 30px;
    border: 2px solid var(--gray20);
    background-color: var(--gray10);
    z-index: 10;
  }

  .navMobileBtn {
    position: relative;
    z-index: 9999 !important;
  }

  .navMobileBtn img {
    width: 55px;
    height: 45px;
    padding: 0;
    cursor: pointer;
  }

  .navMobile ul li,
  .navMobile a {
    color: white;
    width: 100% !important;
    text-align: center;
  }

  .navMobile a {
    display: block;
  }
}

@media (max-width: 426px) {
  .navDesktop {
    display: none;
  }

  .cornerImg {
    pointer-events: none;
  }

  header {
    padding: 15px 0;
  }

  .mobileHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 70px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 30px;
    border: 2px solid var(--gray20);
    background-color: var(--gray10);
    z-index: 10;
  }

  .navMobileBtn {
    position: relative;
    z-index: 9999 !important;
  }

  .navMobileBtn img {
    width: 50px;
    height: 45px;
    padding: 0;
    cursor: pointer;
  }

  .logo img {
    width: 40px;
    height: 40px;
  }

  .logo h2 {
    color: white;
    font-size: 20px;
  }

  .navMobile {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%) translateY(-15px);
    background-color: var(--gray11);
    border-radius: 15px;
    width: 95%;
    border: 2px solid var(--gray15) !important;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    z-index: 9999;
  }

  .navMobile.show {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
    pointer-events: all;
  }

  .navMobile ul li {
    color: white;
  }

  .navMobile a {
    width: 100%;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.2s ease;
  }

  .navMobile a:hover {
    color: var(--green60);
  }

  .mobileLangsList {
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-left: -20px !important;
    margin-top: 0 !important;
    min-width: 100% !important;
    height: fit-content !important;
  }
  .mobileLangsList li {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    max-height: 40px;
    max-width: 70px;
    border: none !important;
  }

  .mobileLangsList li img {
    border-radius: 50%;
    min-height: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
  }
}
