.langDropdown {
  position: relative;
  width: 180px;
  font-family: "Poppins", sans-serif;
}

.selectedLang {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  background: var(--gray11);
  position: relative;
  color: white;
  left: 35px;
}

.selectedLang div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.selectedLang img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.dropdownMenu {
  position: absolute;
  top: 50px;
  left: 35px;
  width: 220px;
  background: var(--gray11);
  color: white;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 10;
}

.arrow {
  margin-left: 6px;
  font-size: 14px;
  color: var(--gray75);
  transition: transform 0.3s ease;
}

.selectedLang:hover .arrow {
  color: #007bff;
}

.dropdownTitle {
  font-size: 13px;
  color: #777;
  padding: 10px 12px;
  border-bottom: 1px solid #eee;
  text-transform: uppercase;
  font-weight: 600;
}

.dropdownItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 14px;
  cursor: pointer;
  transition: 0.4s;
}

.dropdownItem:hover {
  background-color: #f5f7ff;
  color: #0066ff;
}

.dropdownItem img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin-right: 10px;
}

.langInfo {
  flex-grow: 1;
}

.langName {
  font-weight: 600;
  display: block;
}

.langShort {
  font-size: 12px;
  color: #777;
}

.dropdownItem.active {
  background-color: #e3edfff7;
  color: #0066ff;
}

.check {
  color: #0066ff;
  font-weight: bold;
}

.selectedLang {
  display: flex;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 426px) {
  .langDropdown,
  .mobileLangs,
  .mobileLangs div {
    width: 90% !important;
    margin: 0 auto;
    border: 1px solid red;
    position: static;
  }

  .mobileLangsList {
    display: flex !important;
    gap: 20px !important;
  }

  .mobileLangsList li {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 40px !important;
    max-width: 40px !important;
    border: none !important;
  }

  .mobileLangsList li img {
    border-radius: 50% !important;
    border: 1px solid !important;
    min-height: 40px !important;
    min-width: 40px !important;
  }
}
