.langDropdown {
  position: relative;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  width: 170px;
  transform: translateX(30px);
}

.langSelected {
  background: var(--gray15);
  color: #fff;
  border-radius: 8px;
  padding: 6px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 25px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.langSelected div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.langSelected img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

.langMenu {
  position: absolute;
  top: calc(100% + 8px);
  left: 50%;
  width: 100% !important;
  transform: translateX(-50%);
  background: #1c1c1c;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  padding: 10px 0;
  width: 240px;
  z-index: 100;
  border: 1px solid #333;
  color: white;
}

.langTitle {
  font-weight: 600;
  font-size: 14px;
  color: #ddd;
  text-align: center;
  margin-bottom: 8px;
  border-bottom: 1px solid #333;
  padding-bottom: 6px;
}

.langMenu ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}

.langMenu li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 14px;
  cursor: pointer;
  transition: background 0.2s;
  width: 100%;
}

.langMenu li:hover {
  background: #333;
}

.langMenu li.active {
  background: #282828;
}

.langInfo {
  display: flex !important;
  gap: 5px;
  width: 100%;
}

.langInfo div {
  display: flex !important;
  flex-direction: column;
}

.langInfo strong {
  font-size: 14px;
  color: #fff;
}

.langInfo span {
  font-size: 12px;
  color: #aaa;
}

.langMenu img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.check {
  color: var(--green60);
  font-size: 16px;
}
